.App {
  text-align: center;
  
}

header{
  background-color: rgb(161, 161, 161, 1);
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
}


nav{
  display: flex;
  justify-content: center;
}
.header-title{
  margin-right: auto;
  padding-left: 20px;
  font-style: italic;
  text-shadow: black 0px 0px 2px;
  
}
 
.link{
  cursor:default;
  padding-top: 15px;
}

.nav-button{
  margin: 5px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  text-shadow: black 0px 0px 2px;
  font-style:italic

}

.home_page {
 background-image: url('https://i.imgur.com/O6JlZfQ.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 min-height: 100%;
}

.cars{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 68px;
}

.car-card{
  margin-top: 20px;
  margin-bottom: 25px;
  width: 960px;
  height: 1159px;
  cursor: pointer;
  
}

.car-card img {
  border-radius: 20px;
}

.car-details{
  display: grid;
  justify-content: center;
  background-image: url('https://i.imgur.com/O6JlZfQ.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-size: 1.35rem;
  text-shadow: rgb(240, 240, 240) 0px 0px 2px;
}


.detail-image{
  margin-top: 100px;
  height: 900px;
  border-radius: 20px;
}

.comment-body{
  margin-bottom: 80px;
  margin-right: 50px;
}

.comment-body button{
  margin-left: 50px;
}



.commment-button{
  cursor: pointer;
  margin: 5px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  text-shadow: black 0px 0px 2px;
}

.comment-form input{
  height: 30px;
  width: 500px;
}

.Edit-button{
  cursor: pointer;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  text-shadow: black 0px 0px 2px;
}
